body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background: #f4f4f9; 
    color: #333; 
    max-width: 800px; 
    margin: 20px auto;
     padding: 20px;
}
h1 {
     color: #34495e; 
     text-align: center;
}
input, button { 
    padding: 10px;
     font-size: 16px;
      margin: 5px 0; 
      width: calc(100% - 24px); 
      display: block; 
}
input { 
    border: 1px solid #ddd; 
    border-radius: 5px;
}
button { 
    background: rgb(15, 202, 15); 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}
button:hover {
    background: #3498db; 
}
.course-list { 
    list-style: none;
     padding: 0; 
}
.course-item {
     background: white; 
     padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    width:45%;
}
.course-item:nth-child(even) { 
    background: #ecf0f1; 
}